body{
    margin: auto;
    background: url(https://wallpaperaccess.com/full/2381638.png);

}

.form{ 
    margin: 33px auto;
    padding: 43px 30px;
    width: 30%;
    text-align: center;
}
.nav{
    margin: auto;
    color: rgb(131, 5, 5);
}